<h1> Login </h1>

<%= form_for @user, url: "/login" do |u| %>
   
       <%= u.label :username %>  <%= u.text_field :username %>
         <%= u.label :password %>  <%= u.password_field :password %>

         <%=u.submit "submit" %>
<% end %>
