
<%=form_for @shoe do |f| %>
   <br><br>
   <%=render partial: 'layouts/errors', locals: { object: @shoe }%>
   <br><br>
    <%= f.label :name  %>  <%= f.text_field :name  %>
    <br><br>
    <%= f.label :resale_price %>  <%= f.number_field  :resale_price, min:0%>
    <br><br>
    <%= f.label :retail_price  %>  <%= f.number_field :retail_price, min:0 %>
    <br><br>
    <%= f.label :size %>  <%= f.number_field  :size, min:0, max:20%>
    <br><br>
    <% if params[:brand_id] %>
      <%=f.hidden_field :brand_id, value:params[:brand_id]%>
    <%else%>
      <br><br>
      <label>Choose a shoe brand</label>
      <br><br>
      <%= f.label :brand_id, "Select a Brand"%>
      <%= f.collection_select :brand_id, Brand.all, :id, :company_name, prompt: true %>  
      <br><br>
      <strong>Or Create a New One</strong> 
      <%= f.fields_for :brand, Brand.new do |brand_fields| %>
        <%= brand_fields.label "Brand"  %>  
        <%= brand_fields.text_field :company_name  %> 
        <br><br>
      <%end%>
    <%end%>
  <br><br>
  <%=f.submit "submit" %>
<% end %> 
<%= render 'layouts/styling' %>