
<%=form_for [@brand, @shoe] do |f| %>
<br><br>
   <%=render partial: 'layouts/errors', locals: { object: @shoe }%>
   <br><br>
       <%= f.label :name  %>  <%= f.text_field :name  %>
       <br><br>
         <%= f.label :resale_price %>  <%= f.number_field  :resale_price, min:0%>
          <br><br>
          <%= f.label :retail_price  %>  <%= f.number_field :retail_price, min:0 %>
           <br><br>
         <%= f.label :size %>  <%= f.number_field  :size, min:0, max:20%>
 
 
      
   <br><br>


     <% if !params[:brand_id] %>
<br><br>
   
    <%= f.fields_for :brand do |b| %>

       

<label>Choose a shoe brand</label>
 <br><br>
           <%= b.label :brand_id, "Select a Brand"%>
            <%= b.collection_select :id, Brand.all, :id, :company_name, prompt: true %>  
            <br><br>
                       

     <strong>Or</strong>                   
  <br> <br>
  <label>Create a shoe brand</label>
       <%= b.label :Brand_Company_name  %>  
       <%= b.text_field :company_name  %> 
       <br><br>
    <%end%>
   <%end%>
 <br><br>
<%=f.submit "submit" %>
<% end %> 
<%= render 'layouts/styling' %>