 <h1> All shoes </h1> 

 <br>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:Shoe, "Search for shoe by brand here:") %>    
  <%= select_tag "brand_id", options_from_collection_for_select(Brand.all, "id", "company_name"), include_blank: true %>
   <%= submit_tag("Search") %>
<% end %>
<br><br>

 <% @shoes.each do |s|%>
  <br><br>
  

   <%= s.user.username %> - <%= s.name%> 
  - <%= link_to 'Shoe Page', shoe_path(s)%>
  <%end%>

  <% if !@shoes.present?  %>
  <strong> Sorry, you don't have any shoes yet!</strong>
  
  <%end%>
  <%= yield %>

  <%= render 'layouts/styling' %>