
<h1>Create a Shoe below </h1>

<%= form_for(@shoe) do |f| %>
   <%=render partial: 'layouts/errors', locals: { object: @shoe }%>

       <%= f.label :name  %>  <%= f.text_field :name  %>
       <br><br>
         <%= f.label :resale_price %>  <%= f.number_field  :resale_price, min:0%>
          <br><br>
          <%= f.label :retail_price  %>  <%= f.number_field :retail_price, min:0 %>
           <br><br>
         <%= f.label :quality %>  <%= f.number_field  :quality, min:0, max:10%>
   <br><br>
<label>Choose a shoe brand</label>
 <br><br>

           <%= f.label :brand_id, "Select a Brand"%>
            <%= f.collection_select :brand_id, Brand.all, :id, :company_name %>  
            <br><br>
         <%=f.submit "submit" %>
<% end %> 


